<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>GEOSJuntas</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://code.angularjs.org/1.0.8/i18n/angular-locale_es-mx.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation" ng-controller="NotificationsCtrl">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">GEOS EVENTOS</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    	<ul class="nav navbar-nav">
	    		<li><%= link_to 'Eventos', eventos_path %></li>
	    		<li><%= link_to 'Calendario', "/calendario" %></li>
	    	</ul>
	      <ul class="nav navbar-nav navbar-right">
	      	<li ng-click="dialog_new()" style="cursor: pointer;"><a>Nuevo evento  <span class="glyphicon glyphicon-plus"></span></a></li>
	      	<li class="dropdown">
	      		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bell"></span> <span class="badge">{{notificaciones.length}}</span></a>
	         	<ul class="dropdown-menu" role="menu">
	          	</ul>
	      	</li>

	      	<% if current_user %>
	        	<li><%= link_to 'Salir', :logout %></li>
	        <% else %>
	        	<li><%= link_to 'Login', :login %></li>
	        <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<%= yield %>

</body>
</html>
